__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/
env/
*.log
*.sqlite
*.db
.DS_Store
.vscode/
.idea/
*.tmp
datos_procesados/
DATOS/
.kaggle/
DatosTumores.xlsx
ESQUEMA_IA.docx
PowerPoint_tumores.pptx